p#scale.well {
  font-size: 45px;
  height:67px;
  padding-top: 1px;
}
#un-qty {
  width: 150px;
  height: 30px;
}
.panel {
  border-radius: 5px;
}

.control-label {
  margin-top: 4px;
}

#enter_order {
  margin-top: -10px;
  padding-bottom: 10px;
}

#enter_order_no {
  margin-left: -20px;
}

.btn-warning {
  border-radius: 5px;
}

.panel-heading {
  height: 30px;
  margin-bottom: -10px;
}

#heading-title {
  margin-top: -5px;
  font-size: 15px;
}

#barcode_id {
  font-size: 39px;
  font-weight: bold;
  text-align: center;
}

#order-no {
  font-size: 30px;
}

#clear {
  margin-bottom: -90px;
}

#issue {
  font-size: 20px;
}

.login-box {
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
